<IfModule mod_rewrite.c>
    RewriteEngine On

    # Disable access to _samples/** routes
    RewriteRule _samples/.* - [L,F]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.html [L]
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options nosniff
    <FilesMatch ".(js|css|woff2|woff|ttf|eot)$">
        Header set Cache-Control "max-age=31536000, immutable"
    </FilesMatch>
    <FilesMatch ".(png|gif|jpg|jpeg|svg|tiff)$">
        Header set Cache-Control "max-age=604800, stale-while-revalidate=86400"
    </FilesMatch>
    <FilesMatch ".(htm|html)$">
        Header set Cache-Control "max-age=180, private"
    </FilesMatch>
</IfModule>
